html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.landing-bg {
  background-image: url("images/svg-1.png");
  background-size: cover;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 5px;
}